.colorBlock {
  position: absolute;
  width: 4em;
  height: 4em;
  left: 10px;
  top: -20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 3px;
}

.InfoCard--iconbox {
  position: absolute;
  width: 10em;
  height: 4em;
  left: 10px;
  top: -2em;
  border-radius: 2px;
}

.InfoCard--card {
  min-height: 450px !important;
  margin: 1em;
  overflow: visible !important;
}
