@import "styles/colors";

.sider {
  .ant-layout-sider-children {
    background-color: $background-color;
    .siderMenu {
      background-color: $background-color;
    }
  }
  .ant-layout-sider-trigger {
    background-color: darken($background-color, 2);
  }
}

.logo {
  height: 4.5em;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 2em;
}

.logoSmall img {
  height: 3.5em;
}

.siderMenuItem {
  font-size: large;
  color: $primary-font-color !important;
}
