.logo {
  height: 4.5em;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 2em;
}

.logoSmall img {
  height: 3.5em;
}

.siderMenuItem {
  font-size: large;
}
