@import "styles/colors";

.ant-layout-header {
  background-color: $background-color !important;
  padding-left: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loadIcon > svg {
  color: white;
  font-size: large;
  margin: 0 1em 0 1em;
}

.cascaderDataLabel {
  width: 155px;
}
.cascaderDisplayRender {
  display: flex;
}
